input{
  border:0;
  background-color:#003C9D;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  padding: 0px;
  box-sizing : content-box;}

input:hover{
  color:#003C9D;
  background-color:#fff;
  border:2px #003C9D solid;

}

.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}

html {
  scroll-behavior: smooth;
}

div.spacer{
  margin: 0px 20px 0px 20px;
}
